{% extends "main.html" %}

{% block navbar %}

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark brown">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="{{ url_for('displayCatalog') }}">Item
            Catalog</a>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="nav-links">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle"
                       id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Categories</a>
                    <div class="dropdown-menu dropdown-primary"
                         aria-labelledby="navbarDropdownMenuLink">
                        {% if categories %}
                            {% for category in categories %}
                                <a class="dropdown-item"
                                   href="{{ url_for('displayCategoryContents', catalog_name=category.name) }}">{{ category.name }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('displayRecents') }}">
                        Recent
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>


        </div>

        {% if user %}
            {% if user.id != 999 %}
                <a class="btn btn-transparent" style="box-shadow: none"
                   href="{{ url_for('showLogin') }}">{{ user.name }}</a>
            {% endif %}

        {% else %}

            <a class="btn btn-transparent" style="box-shadow: none"
               href="{{ url_for('showLogin') }}">Sign In</a>

        {% endif %}


    </nav>

{% endblock navbar %}

{% block container %}

    <h1 class="title">Item Catalog</h1>

    <div id="catalogs-container">
        <div class="d-flex flex-wrap justify-content-center">
            {% if categories %}

                {% for category in categories %}

                    <div class="card" id="catalogcard">

                        <!-- Card image -->
                        <div class="card-header" style="padding: 0;">

                            <div class="view overlay" id="parent">

                                <img class="card-img-top" style="height: 200px;"
                                     src="{{ category.picture }}"
                                     alt="{{ category.name }}">

                                <a href="{{ url_for('displayCategoryContents', catalog_name=category.name) }}">

                                    <div class="mask rgba-white-slight"></div>

                                </a>
                            </div>
                        </div>

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title">{{ category.name }}</h4>

                        </div>

                        <div class="card-footer d-flex justify-content-center">

                            <form action="{{ url_for('deleteCategory', category_name=category.name) }}"
                                  method="post">
                                <a href="{{ url_for('displayCategoryContents', catalog_name=category.name) }}"
                                   class="btn btn-primary">Explore</a>
                                {% if user %}
                                    {% if user.id == category.user.id %}
                                        <button class="btn btn-red">
                                            <i class="fa fa-trash"
                                               aria-hidden="true"></i></button>
                                    {% endif %}
                                {% endif %}
                            </form>

                        </div>

                    </div>

                {% endfor %}

            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="addNewCatalogModal" tabindex="-1" role="dialog"
         aria-labelledby="newCatalogModal"
         aria-hidden="true" style="text-align: left">
        <div class="modal-dialog modal-sm modal-dialog-centered"
             role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Add a
                        category</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body mx-3">

                    <form action="{{ url_for('displayCatalog') }}"
                          method="post">

                        <div class="md-form mb-5">
                            {#                        <i class="fa fa-user prefix grey-text"></i>#}
                            <input type="text" id="catalogNameInput"
                                   class="form-control" name="name">
                            <label for="catalogNameInput">Name</label>
                        </div>

                        <div class="md-form mb-5">
                            {#                        <i class="fa fa-user prefix grey-text"></i>#}
                            <input type="text" id="picUriInput"
                                   class="form-control" name="picuri">
                            <label for="picUriInput">Picture</label>
                        </div>


                        <div class="md-form mb-5 d-flex justify-content-center">
                            <button type="submit" class="btn btn-green">Submit
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock container %}

{% block fab %}

    <a class="catalog-fab" data-toggle="modal"
       data-target="#addNewCatalogModal">
        <div class="fab"> +</div>
    </a>

{% endblock %}



